#heading{
    color: red;
}

.header {
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
}

.logo {
    width:100px;
    padding: 10px;
}

.navitems {
    padding: 0px 20px;
}

.navitems > ul {
    font-size: 24px;
    display: flex;
    list-style-type: none;
}

.navitems > ul > li {
    padding: 10px;
    margin: 10px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
}

.res-card {
    width: 300px;
    height: 500px;
    padding: 5px;
    margin: 5px;
}

.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
    padding: 5px;
}

.res-logo {
    width: 100%;
}
.search{
    padding: 10px;
}

.filter-button{
    margin:10px;
    cursor: pointer;
}